:root {
  /* style 1 */
  --aero: #7fb7ddff;
  --pink-lavender: #d6accaff;
  --liberty: #4f559aff;
  --xiketic: #000210ff;

  /* style 2 */
  --blue-sapphire: #246a90ff;
  --illuminating-emerald: #3d8d6cff;
  --olive-drab-7: #433b27ff;
  --gold-crayola: #eec784ff;
  --sugar-plum: #974f7bff;
  --lavender-gray: #b8b1c8ff;
  --sky-blue-crayola: #59d7eeff;

  /* style 3 */
  --maximum-blue-purple: #aab8edff;
  --laurel-green: #a8ba8cff;
  --xiketic: #080217ff;
  --french-lilac: #755886ff;
}

