:root {
  /* style 1 */
  --aero: #7fb7ddff;
  --pink-lavender: #d6accaff;
  --liberty: #4f559aff;
  --xiketic: #000210ff;

  /* style 2 */
  --blue-sapphire: #246a90ff;
  --illuminating-emerald: #3d8d6cff;
  --olive-drab-7: #433b27ff;
  --gold-crayola: #eec784ff;
  --sugar-plum: #974f7bff;
  --lavender-gray: #b8b1c8ff;
  --sky-blue-crayola: #59d7eeff;

  /* style 3 */
  --maximum-blue-purple: #aab8edff;
  --laurel-green: #a8ba8cff;
  --xiketic: #080217ff;
  --french-lilac: #755886ff;

  /* old colors */
  --darkMain: #00449e;
  --textMain: #357edd;
  --lightMain: #96ccff;
  --background1: #f6fffe;
  --background2: #fffceb;
  --background3: #e8fdf5;
  --background4: #ffdfdf;
  --unsaturated1: #bdc7ee;
  --unsaturated2: #8e96c7;
  --saturated: #da5e58;
  --light: #f6d0a9;

  /* fonts */
  --title-font: 'Jost', sans-serif;
}

body {
  background-image: linear-gradient(
    135deg,
    var(--lavender-gray),
    var(--laurel-green),
    var(--french-lilac)
  );
}

p {
  color: var(--olive-drab-7);
}

h2 {
  color: var(--olive-drab-7);
}

.sectionDivs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gradient-border {
  background-image: linear-gradient(45deg, var(--sugar-plum), var(--gold-crayola));
  border-radius: 16px;
  padding: 10px;
}

.nav-color {
  background-color: var(--olive-drab-7);
}

.grad-line {
  background: linear-gradient(45deg, var(--sugar-plum), var(--gold-crayola));
  height: 4px;
  border: none;
  border-radius: 50%;
}

.fa {
  padding: 20px;
  font-size: 60px;
  width: 60px;
  height: 60px;
  text-align: center;
  text-decoration: none;
  border-radius: 25%;
  display: inline;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: #242424;
  color: white;
}

.halfHeight {
  opacity: 1;
}

.fullHeight {
  opacity: 1;
}

.vert-center {
  
}

.title-text {
  font-family: var(--title-font);
  color: var(--olive-drab-7);
}

.zTop {
  z-index: 10;
}

#skills {
  background-image: linear-gradient(var(--unsaturated1), var(--unsaturated2));
  font-size: 1.5rem;
  font-weight: 600;
}

#headerImg {
  border-radius: 50%;
  height: 240px;
  width: 240px;
}

#personalWebsiteLinkImage {
  height: 300px;
  width: 300px;
}

#keepAllCentered {
  max-width: 64rem;
  margin: 0 auto;
}

#navBar {
  width: 100%;
  float: left;
  margin: 0 0 1em 0;
  padding: 0;
}

#navList {
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 60em) {
  .sectionDivs {
    flex-wrap: nowrap;
  }
  .fullHeight {
    height: 100vh;
  }
  .halfHeight {
    height: 50vh;
  }
}
